<ul id="ctm-nav-item-list" class="context-menu ctm-box" style="display: none;">
  <li class="context-menu-item menuItem ctm-directory-create" title="创建清单夹">
    <span class="context-menu-icon">
      <svg class="folders rtl-flip" width="20px" height="20px">
        <g id="Web-svgs" stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folders">
            <g id="Path-2-+-c-2" transform="translate(2.000000, 2.000000)">
              <path d="M0.5,12 C0.22,12 -1.34760666e-14,11.78 -1.34760666e-14,11.5 L-1.42108547e-14,2.5 C-1.42108547e-14,1.68 0.68,1 1.5,1 L14.5,1 C15.32,1 16,1.68 16,2.5 L16,11.5 C16,11.78 15.78,12 15.5,12 L0.5,12 Z M1,11 L15,11 L15,2.5 C15,2.22 14.78,2 14.5,2 L1.5,2 C1.22,2 1,2.22 1,2.5 L1,11 Z M9.5,16 C8.68,16 8,15.32 8,14.5 L8,13.5 C8,13.22 8.22,13 8.5,13 C8.78,13 9,13.22 9,13.5 L9,14.5 C9,14.78 9.22,15 9.5,15 L14.5,15 C14.78,15 15,14.78 15,14.5 L15,13.5 C15,13.22 15.22,13 15.5,13 C15.78,13 16,13.22 16,13.5 L16,14.5 C16,15.32 15.32,16 14.5,16 L9.5,16 Z" id="c-2" transform="translate(8.000000, 8.500000) rotate(-180.000000) translate(-8.000000, -8.500000) "></path>
            </g>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">创建清单夹</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item menuItem hasSubmenu" title="移动至" data-items="2">
    <span class="context-menu-icon">
      <svg class="move" width="20px" height="20px" viewBox="0 0 20 20">
        <g id="Page-1" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="Move" sketch:type="MSArtboardGroup" stroke-linecap="round">
            <path d="M3,14.5 L16,14.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M3,17.5 L16,17.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M9.5,2.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M4.5,6.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M14.5,6.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">移动至</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
    <ul class="context-menu submenu submenu-directory">

    </ul>
  </li>
  <li class="context-menu-item separator">
    <span class="context-menu-icon"></span>
    <span class="label"> </span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20"  >
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z" id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item menuItem ctm-list-rename" title="重命名清单">
    <span class="context-menu-icon">
      <svg class="options rtl-flip" width="20px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="options">
            <path d="M17.1330617,2.8594383 C15.9930617,1.7194383 14.0130617,1.7194383 12.8930617,2.8594383 L5.5130617,10.2394383 C5.3330617,10.4394383 5.3330617,10.7594383 5.5130617,10.9594383 C5.7130617,11.1394383 6.0330617,11.1394383 6.2330617,10.9594383 L13.5930617,3.5594383 C14.3530617,2.7994383 15.6730617,2.7994383 16.4130617,3.5594383 C17.1730617,4.3194383 17.1930617,5.5594383 16.4130617,6.3394383 L9.0330617,13.7594383 C8.7130617,14.0794383 8.9330617,14.6194383 9.3730617,14.6194383 C9.5130617,14.6194383 9.6330617,14.5594383 9.7330617,14.4594383 L17.1330617,7.0394383 C18.2930617,5.8794383 18.2930617,4.0194383 17.1330617,2.8594383 L17.1330617,2.8594383 Z M8.4930617,15.3594383 C8.0330617,13.4594383 6.5130617,11.9394383 4.6130617,11.4794383 C4.3530617,11.4194383 4.0930617,11.5794383 4.0130617,11.8194383 L2.0330617,17.3194383 C1.8730617,17.7194383 2.2730617,18.1194383 2.6730617,17.9594383 C8.6730617,15.7794383 8.2530617,15.9594383 8.3730617,15.8194383 C8.4930617,15.6994383 8.5330617,15.5194383 8.4930617,15.3594383 L8.4930617,15.3594383 Z M3.3330617,16.6594383 L4.8130617,12.5794383 C6.0130617,12.9994383 6.9730617,13.9794383 7.3930617,15.1794383 L3.3330617,16.6594383 Z" id="N"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">重命名清单</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z" id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item separator">
    <span class="context-menu-icon"></span>
    <span class="label"></span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item menuItem ctm-list-del" title="删除清单">
    <span class="context-menu-icon">
      <svg class="trash" width="20px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="trash">
            <path d="M12,3.5 C12,2.4 11.1,1.5 10,1.5 C8.9,1.5 8,2.4 8,3.5 L5.5,3.5 C4.68,3.5 4,4.18 4,5 L4,7 C4,7.28 4.22,7.5 4.5,7.5 L15.5,7.5 C15.78,7.5 16,7.28 16,7 L16,5 C16,4.18 15.32,3.5 14.5,3.5 L12,3.5 Z M10,2.5 C10.56,2.5 11,2.94 11,3.5 L9,3.5 C9,2.94 9.44,2.5 10,2.5 L10,2.5 Z M15,6.5 L5,6.5 L5,5 C5,4.72 5.22,4.5 5.5,4.5 L14.5,4.5 C14.78,4.5 15,4.72 15,5 L15,6.5 Z M14.5,8.5 C14.22,8.5 14,8.72 14,9 L14,16 C14,16.28 13.78,16.5 13.5,16.5 L6.5,16.5 C6.22,16.5 6,16.28 6,16 L6,9 C6,8.72 5.78,8.5 5.5,8.5 C5.22,8.5 5,8.72 5,9 L5,16 C5,16.82 5.68,17.5 6.5,17.5 L13.5,17.5 C14.32,17.5 15,16.82 15,16 L15,9 C15,8.72 14.78,8.5 14.5,8.5 L14.5,8.5 Z M9,9 C9,8.72 8.78,8.5 8.5,8.5 C8.22,8.5 8,8.72 8,9 L8,15 C8,15.28 8.22,15.5 8.5,15.5 C8.78,15.5 9,15.28 9,15 L9,9 Z M12,9 C12,8.72 11.78,8.5 11.5,8.5 C11.22,8.5 11,8.72 11,9 L11,15 C11,15.28 11.22,15.5 11.5,15.5 C11.78,15.5 12,15.28 12,15 L12,9 Z"
              id="j"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">删除清单</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
</ul>


<ul id="ctm-nav-item-directory-list" class="context-menu ctm-box" style="display: none;">
  <li class="context-menu-item menuItem ctm-remove-from-directory" title="从清单夹移除">
    <span class="context-menu-icon">
      <svg class="folders rtl-flip" width="20px" height="20px">
        <g id="Web-svgs" stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folders">
            <g id="Path-2-+-c-2" transform="translate(2.000000, 2.000000)">
              <path
                d="M0.5,12 C0.22,12 -1.34760666e-14,11.78 -1.34760666e-14,11.5 L-1.42108547e-14,2.5 C-1.42108547e-14,1.68 0.68,1 1.5,1 L14.5,1 C15.32,1 16,1.68 16,2.5 L16,11.5 C16,11.78 15.78,12 15.5,12 L0.5,12 Z M1,11 L15,11 L15,2.5 C15,2.22 14.78,2 14.5,2 L1.5,2 C1.22,2 1,2.22 1,2.5 L1,11 Z M9.5,16 C8.68,16 8,15.32 8,14.5 L8,13.5 C8,13.22 8.22,13 8.5,13 C8.78,13 9,13.22 9,13.5 L9,14.5 C9,14.78 9.22,15 9.5,15 L14.5,15 C14.78,15 15,14.78 15,14.5 L15,13.5 C15,13.22 15.22,13 15.5,13 C15.78,13 16,13.22 16,13.5 L16,14.5 C16,15.32 15.32,16 14.5,16 L9.5,16 Z" id="c-2" transform="translate(8.000000, 8.500000) rotate(-180.000000) translate(-8.000000, -8.500000) "></path>
            </g>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">从清单夹移除</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item menuItem hasSubmenu" title="移动至" data-items="2"><span class="context-menu-icon">  <svg
        class="move" width="20px" height="20px" viewBox="0 0 20 20">
        <g id="Page-1" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="Move" sketch:type="MSArtboardGroup" stroke-linecap="round">
            <path d="M3,14.5 L16,14.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M3,17.5 L16,17.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M9.5,2.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M4.5,6.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
            <path d="M14.5,6.5 L9.5,11.5" id="Line" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">移动至</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
    <ul class="context-menu submenu submenu-directory">

    </ul>
  </li>
  <li class="context-menu-item separator"><span class="context-menu-icon">   </span> <span class="label"> </span> <span
      class="chevron"> <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20"   >
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg> </span></li>
  <li class="context-menu-item menuItem ctm-list-rename" title="重命名清单">
    <span class="context-menu-icon">
      <svg class="options rtl-flip" width="20px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="options">
            <path
              d="M17.1330617,2.8594383 C15.9930617,1.7194383 14.0130617,1.7194383 12.8930617,2.8594383 L5.5130617,10.2394383 C5.3330617,10.4394383 5.3330617,10.7594383 5.5130617,10.9594383 C5.7130617,11.1394383 6.0330617,11.1394383 6.2330617,10.9594383 L13.5930617,3.5594383 C14.3530617,2.7994383 15.6730617,2.7994383 16.4130617,3.5594383 C17.1730617,4.3194383 17.1930617,5.5594383 16.4130617,6.3394383 L9.0330617,13.7594383 C8.7130617,14.0794383 8.9330617,14.6194383 9.3730617,14.6194383 C9.5130617,14.6194383 9.6330617,14.5594383 9.7330617,14.4594383 L17.1330617,7.0394383 C18.2930617,5.8794383 18.2930617,4.0194383 17.1330617,2.8594383 L17.1330617,2.8594383 Z M8.4930617,15.3594383 C8.0330617,13.4594383 6.5130617,11.9394383 4.6130617,11.4794383 C4.3530617,11.4194383 4.0930617,11.5794383 4.0130617,11.8194383 L2.0330617,17.3194383 C1.8730617,17.7194383 2.2730617,18.1194383 2.6730617,17.9594383 C8.6730617,15.7794383 8.2530617,15.9594383 8.3730617,15.8194383 C8.4930617,15.6994383 8.5330617,15.5194383 8.4930617,15.3594383 L8.4930617,15.3594383 Z M3.3330617,16.6594383 L4.8130617,12.5794383 C6.0130617,12.9994383 6.9730617,13.9794383 7.3930617,15.1794383 L3.3330617,16.6594383 Z"
              id="N"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">重命名清单</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item separator">
    <span class="context-menu-icon"></span>
    <span class="label"></span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z" id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
  <li class="context-menu-item menuItem ctm-list-del" title="删除清单">
    <span class="context-menu-icon">
      <svg class="trash" width="20px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="trash">
            <path
              d="M12,3.5 C12,2.4 11.1,1.5 10,1.5 C8.9,1.5 8,2.4 8,3.5 L5.5,3.5 C4.68,3.5 4,4.18 4,5 L4,7 C4,7.28 4.22,7.5 4.5,7.5 L15.5,7.5 C15.78,7.5 16,7.28 16,7 L16,5 C16,4.18 15.32,3.5 14.5,3.5 L12,3.5 Z M10,2.5 C10.56,2.5 11,2.94 11,3.5 L9,3.5 C9,2.94 9.44,2.5 10,2.5 L10,2.5 Z M15,6.5 L5,6.5 L5,5 C5,4.72 5.22,4.5 5.5,4.5 L14.5,4.5 C14.78,4.5 15,4.72 15,5 L15,6.5 Z M14.5,8.5 C14.22,8.5 14,8.72 14,9 L14,16 C14,16.28 13.78,16.5 13.5,16.5 L6.5,16.5 C6.22,16.5 6,16.28 6,16 L6,9 C6,8.72 5.78,8.5 5.5,8.5 C5.22,8.5 5,8.72 5,9 L5,16 C5,16.82 5.68,17.5 6.5,17.5 L13.5,17.5 C14.32,17.5 15,16.82 15,16 L15,9 C15,8.72 14.78,8.5 14.5,8.5 L14.5,8.5 Z M9,9 C9,8.72 8.78,8.5 8.5,8.5 C8.22,8.5 8,8.72 8,9 L8,15 C8,15.28 8.22,15.5 8.5,15.5 C8.78,15.5 9,15.28 9,15 L9,9 Z M12,9 C12,8.72 11.78,8.5 11.5,8.5 C11.22,8.5 11,8.72 11,9 L11,15 C11,15.28 11.22,15.5 11.5,15.5 C11.78,15.5 12,15.28 12,15 L12,9 Z"
              id="j"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">删除清单</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
</ul>


<ul id="ctm-nav-item-directory" class="context-menu ctm-box " style="display: none;">
  <li class="context-menu-item menuItem ctm-directory-rename" title="重新命名清单夹"><span class="context-menu-icon">   <svg
        class="options rtl-flip" width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="options">
            <path d="M17.1330617,2.8594383 C15.9930617,1.7194383 14.0130617,1.7194383 12.8930617,2.8594383 L5.5130617,10.2394383 C5.3330617,10.4394383 5.3330617,10.7594383 5.5130617,10.9594383 C5.7130617,11.1394383 6.0330617,11.1394383 6.2330617,10.9594383 L13.5930617,3.5594383 C14.3530617,2.7994383 15.6730617,2.7994383 16.4130617,3.5594383 C17.1730617,4.3194383 17.1930617,5.5594383 16.4130617,6.3394383 L9.0330617,13.7594383 C8.7130617,14.0794383 8.9330617,14.6194383 9.3730617,14.6194383 C9.5130617,14.6194383 9.6330617,14.5594383 9.7330617,14.4594383 L17.1330617,7.0394383 C18.2930617,5.8794383 18.2930617,4.0194383 17.1330617,2.8594383 L17.1330617,2.8594383 Z M8.4930617,15.3594383 C8.0330617,13.4594383 6.5130617,11.9394383 4.6130617,11.4794383 C4.3530617,11.4194383 4.0930617,11.5794383 4.0130617,11.8194383 L2.0330617,17.3194383 C1.8730617,17.7194383 2.2730617,18.1194383 2.6730617,17.9594383 C8.6730617,15.7794383 8.2530617,15.9594383 8.3730617,15.8194383 C8.4930617,15.6994383 8.5330617,15.5194383 8.4930617,15.3594383 L8.4930617,15.3594383 Z M3.3330617,16.6594383 L4.8130617,12.5794383 C6.0130617,12.9994383 6.9730617,13.9794383 7.3930617,15.1794383 L3.3330617,16.6594383 Z"
              id="N"></path>
          </g>
        </g>
      </svg>   </span> <span class="label">重新命名清单夹</span> <span class="chevron"> <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20" >
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path
              d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z"
              id="w"></path>
          </g>
        </g>
      </svg> </span></li>
  <li class="context-menu-item menuItem ctm-directory-del" title="解除组合"><span class="context-menu-icon">  <svg width="100%" height="100%" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"> <g id="Layer1">
          <g id="Layer 1">
            <path d="M17,15.5c0,0.827 -0.673,1.5 -1.5,1.5l-11,0c-0.827,0 -1.5,-0.673 -1.5,-1.5l0,-8.5l14,0l0,8.5ZM17.5,6l-15,0c-0.276,0 -0.5,0.224 -0.5,0.5l0,9c0,1.379 1.121,2.5 2.5,2.5l11,0c1.379,0 2.5,-1.121 2.5,-2.5l0,-9c0,-0.276 -0.224,-0.5 -0.5,-0.5" style="fill-rule:nonzero;"></path>
            <path d="M2.5,5c0.276,0 0.5,-0.224 0.5,-0.5l0,-1c0,-0.275 0.225,-0.5 0.5,-0.5l6,0c0.275,0 0.5,0.225 0.5,0.5l0,1c0,0.276 0.224,0.5 0.5,0.5c0.276,0 0.5,-0.224 0.5,-0.5l0,-1c0,-0.827 -0.673,-1.5 -1.5,-1.5l-6,0c-0.827,0 -1.5,0.673 -1.5,1.5l0,1c0,0.276 0.224,0.5 0.5,0.5" style="fill-rule:nonzero;"></path>
            <path d="M7.147,14.854c0.097,0.098 0.225,0.146 0.353,0.146c0.127,-0.001 0.255,-0.049 0.353,-0.147l2.147,-2.146l2.146,2.146c0.098,0.098 0.226,0.146 0.354,0.146c0.128,0 0.255,-0.048 0.354,-0.146c0.195,-0.195 0.195,-0.512 0,-0.707l-2.146,-2.146l2.146,-2.146c0.195,-0.195 0.195,-0.512 0,-0.707c-0.195,-0.195 -0.512,-0.195 -0.707,0l-2.146,2.146l-2.147,-2.146c-0.195,-0.195 -0.512,-0.195 -0.707,0c-0.195,0.195 -0.195,0.512 0,0.707l2.146,2.146l-2.146,2.146c-0.195,0.195 -0.195,0.512 0,0.707" style="fill-rule:nonzero;"></path>
          </g>
        </g>
      </svg>
    </span>
    <span class="label">解除组合</span>
    <span class="chevron">
      <svg class="folder-arrow" width="15px" height="20px" viewBox="0 0 20 20" >
        <g stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="folder-arrow">
            <path d="M13.61,16.8575 C13.79,16.6575 13.79,16.3375 13.61,16.1375 L7.45,9.9975 L13.61,3.8575 C13.79,3.6575 13.79,3.3375 13.61,3.1375 C13.41,2.9575 13.09,2.9575 12.89,3.1375 L6.39,9.6375 C6.21,9.8375 6.21,10.1575 6.39,10.3575 L12.89,16.8575 C12.99,16.9575 13.13,16.9975 13.25,16.9975 C13.37,16.9975 13.51,16.9575 13.61,16.8575 Z" id="w"></path>
          </g>
        </g>
      </svg>
    </span>
  </li>
</ul>
