<div id="modal">
    <div class="dialog-wrapper create-list-dialog">
        <div id="" class="dialog">
            <div class="content">
                <div class="content-header" tabindex="0">
                    <h3 class="text-center">
                        <span>创建新清单</span>
                    </h3>
                    <div class="separator">
                        <input class="list-name" type="text" maxlength="255" value="" placeholder="清单名称">
                    </div>
                </div>
                <div class="content-footer">
                    <div class="cols">
                        <div class="col-40"></div>
                        <div class="col-30">
                            <button class="cancel full">
                                取消
                            </button>
                        </div>
                        <div class="col-30">
                            <button class="submit full blue" aria-disabled="true" tabindex="-1">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>