<script type="text/template" id="taskInfoTmpl">
    <div class="taskName" taskId="<%=task.id%>">
        <input type="checkbox" class="isFinished">
        <h2><input type="text" name="taskname" id="taskname" class="txt" value="<%=task.taskname%>" placeholder="填写备注"></h2>
    </div>
    <ul class="taskInfos">
        <li><label for="taskDate">到期日期:</label><input type="date" name="taskDate" id="taskDate" class="date" value="<%=task.fDateFormat%>"></li>
        <li><label for="remark">备注:</label><input type="text" name="remark" id="remark" class="txt" value="<%=task.remark%>" placeholder="填写备注"></li>
    </ul>
    <div class="bottom">
        <a href="javascript:;" class="backBtn"> 完成</a>
        <a href="javascript:;" class="delBtn">删除</a>
    </div>
</script>