/*基本变量*/
$xs-max: 34.375em;
$md-max: 62.5em;

/************
 * 基本默认值
 ************/
html{
  font-size: 100%;
  font-family: "Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/ -webkit-user-select:none; /*webkit浏览器*/ -khtml-user-select:none; /*早期浏览器*/ -moz-user-select:none;/*火狐*/ -ms-user-select:none; /*IE10*/ user-select:none;
}
*::-webkit-scrollbar{width:6px !important} *::-webkit-scrollbar-button:start:decrement, *::-webkit-scrollbar-button:end:increment{height:0;background-color:transparent} *::-webkit-scrollbar-corner{background-color:transparent} *::-webkit-scrollbar-thumb:vertical{-webkit-border-radius:6px;border-radius:6px;background-color:rgba(0,0,0,0.2)}
*{ }
::selection{
  text-shadow: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
  height: auto;
  max-width: 100%;
}

/************
 * 工具样式
 ************/

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right{
    float: right!important;
}
.pull-left{
    float: left!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.text-center{
    text-align: center!important;
}
.hide{
    display: none!important;
}
.show{
    display: block!important;
}
.invisible{
    visibility: hidden;
}
/*隐藏图片文本*/
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow: none;
    background-color: transparent;
    border:0;
}
.clearfix:before,
.clearfix:after{
    content:" ";
    display: table;
}
.clearfix:after{
    clear: both;
}

/************
 * 自定义页面样式
 ************/

body{
  font-size: .875rem;
  line-height: 1.5;
  color: #999;
  max-width: 2000px;
  background: url("../img/bg.jpg") no-repeat 60% 0px;
  background-size: 200%;
}
a{
  color: #666;
  text-decoration: none;
  user-select:none;
}

a:hover, a:active{
    color: #0ae;
    text-decoration: underline;
}

.route{
  position: fixed;
  top: 0;
  left: 40%;
  button{
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
  }
}

.container{

}
//todolist
.todolist{
  float: left;
  width: 100%;
  margin-right: 0;
  &.detailOn{
    margin-right: -23.125rem;
    .main{
      margin-right: 23.125rem;
    }
  }
  .main {
    margin-right: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .top {
      background-color: #668964;
      height: 2.875rem;
      h1 {
        line-height: 2.7rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        float: left;
        color: #fff;
      }
      div.r {
        float: right;
      }
    }
    .addTask {
      padding: 1rem 0;
      position: relative;
      .addIcon{
        position: absolute;
        font-size: 1.6rem;
        left: 2.6%;
        top: 1.1rem;
        color: #fff;
      }
      input {
        border: none;
        color: #fff;
        width: 98%;
        margin-left: 1%;
        border-radius: .3rem;
        background-color: #719072;
        height: 3rem;
        padding: 0 3rem;
        font-size: 1rem;
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
      }
    }
    .listBox {
      height: 100vh;
      overflow: auto;
      padding-bottom: 4.5rem;
      margin-right: .5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      .list {
        padding: 0 0 1rem 0;
        position: relative;
        .finishedBtn {
          background-color: #719072;
          font-size: .6rem;
          border-radius: .1rem;
          padding: .1rem .2rem;
          color: #fff;
          margin-left: 2%;
          &:hover {
            text-decoration: none;
          }
          &.on{
            .showText{
              display: none;
            }
            .hideText{
              display: inline;
            }
          }
          .showText{
            display: inline;
          }
          .hideText{
            display: none;
          }
        }
        .item {
          background-color: #fff;
          width: 98%;
          margin-left: 1%;
          color: #333;
          box-sizing: border-box;
          border-radius: .3rem;
          height: 3rem;
          padding: 0 3rem;
          margin-bottom: .06rem;
          position: relative;
          &.on {
            background-color: #E1F2FE;
          }
          &.passed{
            .r{
              .date{
                color: darkred;
              }
            }
          }
          .l {
            float: left;
            .isFinished {
              position: absolute;
              left: 1rem;
              top: .75rem;
              width: 1.2rem;
              height: 1.2rem;
            }
            h6 {
              min-height: 1.6rem;
              overflow: hidden;
              margin-top: .7rem;
              line-height: 1.6rem;
              font-size: .875rem;
            }
          }
          .r {
            float: right;
            .date {
              margin-top: .8rem;
              font-size: .875rem;
            }
          }
        }
        &.isFinishedBox {
          display: none;
          .item {
            opacity: .5;
            .l {
              h6 {
                //margin-top: .4rem;
                text-decoration: line-through;
                //min-height: 1rem;
                //line-height: 1rem;
              }
              .ago {

              }
            }
          }
          &.on{
            display: block;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $md-max) {
  .todolist{
    margin-right: 0;
    .main{
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: $xs-max) {}


//todolist detail
.detailBox{
  float: left;
  width: 23.125rem;
  height: 100vh;
  background-color: #fff;
  display: none;
  flex-direction: column;
  &.on{
    display: flex;
  }
  #taskInfoBox {
    display: flex;
    height: 100vh;
    flex-direction: column;
    .taskName {
      border-bottom: 1px solid #EBEBEB;
      height: auto;
      position: relative;
      .isFinished {
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 1.2rem;
        height: 1.2rem;
      }
      h2 {
        font-weight: bold;
        min-height: 1.5rem;
        overflow: hidden;
        padding: 1rem 3rem .9rem;
        line-height: 1.5rem;
      }
    }
    .taskInfos {
      background-color: #fafafa;
      flex: 1;
      padding-top: .5rem;
      li {
        padding: .5rem;
        &.passed{
          label, .date{
            color: darkred;
          }
        }
        label {
          margin-right: .5rem;
          color: #999;
          position: relative;
          top: 1px;
        }
        .date, .txt {
          height: 1.5rem;
          padding: .1rem 0;
          width: 80%;
          border: none;
          background-color: #fafafa;
          color: #999;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .bottom {
      padding: 1rem;
      border-top: 1px solid #EBEBEB;
      .backBtn {
        float: left;
      }
      .delBtn {
        float: right;
      }
    }
  }
}
@media only screen and (max-width: $md-max) and (min-width: $xs-max) {
  .detailBox{
    float: none;
    position: fixed;
    right: 0;
    top: 0;
  }
}
@media only screen and (max-width: $xs-max) {
  .detailBox{
    float: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
}


/*angular*/
@keyframes pageEnter{
  0%{margin-top: -20rem;margin-left: -20rem}
  100%{margin-top: 0rem;margin-left: 0rem}
}
.pageEnter{
  animation:pageEnter 1s 1;
}
#forecastPage{
  height: 100vh;
  color: #000;
}



/************
 * 打印样式
 ************/

@media print{
    *,
    *:before,
    *:after{
        background: transparent!important;
        color: #000000!important;
        box-shadow: none!important;
        text-shadow: none!important;
    }

    a,
    a:visited{
        text-decoration: underline;
    }
    a[href]:after{
        content:"("attr(href)")";
    }
    abbr[title]:after{
        content:"("attr(title)")";
    }

    /*使用#和javascript的超链接不打印href*/
    a[href^="#"]:after,
    a[href^="javascript:"]:after{
        content:"";
    }
    pre,
    blockquote{
        border:1px solid #999999;
        page-break-inside: avoid;/*opera*/
    }
    thead{
        display: table-header-group;
    }
    tr,img{
        page-break-inside: avoid;
    }
    img{
        min-width: 100%!important;
    }
    p,
    h2,
    h3{
        orphans: 3;/*分页底部保留最少行数*/
        widows: 3;/*分页顶部保留最少行数*/
    }
    h2,
    h3{
        page-break-after: avoid;
    }


}

/*# sourceMappingURL=main.css.map */
