/*基本变量*/
$xs-max: 34.375em;
$md-max: 62.5em;

/************
 * 基本默认值
 ************/

html{
  font-size: 100%;
  font-family: "Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-touch-callout:none; /*系统默认菜单被禁用*/

  /* 会取消drag事件 */
  /*-webkit-user-select:none; webkit浏览器*/
  /*-khtml-user-select:none; 早期浏览器*/
  /*-moz-user-select:none;火狐*/
  /*-ms-user-select:none; IE10*/
  /*user-select:none;*/
}

*::-webkit-scrollbar{width:6px !important} *::-webkit-scrollbar-button:start:decrement, *::-webkit-scrollbar-button:end:increment{height:0;background-color:transparent} *::-webkit-scrollbar-corner{background-color:transparent} *::-webkit-scrollbar-thumb:vertical{-webkit-border-radius:6px;border-radius:6px;background-color:rgba(0,0,0,0.2)}
*{ }
::selection{
  text-shadow: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
  height: auto;
  max-width: 100%;
}

/************
 * 工具样式
 ************/

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right{
    float: right!important;
}
.pull-left{
    float: left!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.text-center{
    text-align: center!important;
}
.hide{
    display: none!important;
}
.show{
    display: block!important;
}
.invisible{
    visibility: hidden;
}
/*隐藏图片文本*/
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow: none;
    background-color: transparent;
    border:0;
}
.clearfix:before,
.clearfix:after{
    content:" ";
    display: table;
}
.clearfix:after{
    clear: both;
}

/************
 * 自定义页面样式
 ************/

body{
  font-size: .875rem;
  line-height: 1.5;
  color: #999;
  max-width: 2000px;
  background: url("../img/bg.jpg") no-repeat 60% 0px;
  background-size: 200%;
}
a{
  color: #666;
  text-decoration: none;
  user-select:none;
}

a:hover, a:active{
    text-decoration: none;
}

.container{

}

/*nav*/
nav{
  float: left;
  width: 17.5rem;
  .nav-box{
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-color: #F7F7F7;
    .nav-top{
      background-color: #5b7a59;
      height: 2.875rem;
      display: flex;
      align-items: center;
      .toggle-sidebar{
        float: left;
        padding: .625rem .625rem .3125rem .625rem;
      }
    }
    .user{
      height: 2rem;
      padding: .5rem 0;
      .user-box{
        display: flex;
        align-items: center;
        .user-avatar{
          width: 32px;
          height: 32px;
          border-radius:50%;
          overflow: hidden;
          margin: 0 .5rem 0 .2rem;
        }
      }
    }
    .menu{
      height: calc(100vh - 8.875rem);
      overflow: auto;
      .menu-filter{
        a.item-list{
          box-sizing: border-box;
          padding: .5rem .6rem .3rem;
          display: block;
          .icon{
            float: left;
            margin-right: .5rem;
            margin-top: .1rem;
          }
          .title{
            float: left;
            color: #333;
            font-size: .95rem;
          }
          .r{
            float: right;
            .count{
              color: #bdbcbb;
              font-size: .75rem;
              &.passed{
                color: #d74e48;
                background-color: rgba(215,78,72,0.1);
                font-weight: bold;
                border-radius: 12px;
                padding: .0625rem .375rem .0625rem;
                margin-right: .2rem;
              }
            }
          }
          &.on{
            background-color: #e0eefa;
            .r{
              .count{
                color: rgba(38,38,38,0.75);
                &.passed{
                  color: #f7f7f7;
                  background-color: rgba(215,78,72,0.8);
                }
              }
            }
          }
        }
        .menu-filter-all{
          a.item-list{
            .icon{
              svg{
                fill: #2b8dec;
              }
            }
          }
        }
        .menu-filter-today{
          a.item-list{
            .icon{
              position: relative;
              svg{
                fill: #5fa004;
              }
              .today-num{
                position: absolute;
                top: .16rem;
                left: .2rem;
                font-size: .0625rem;
              }
            }
          }
        }
      }
      .menu-your{
        .item-list, .item-directory{
          &.dragover{
            border:2px solid orange;
          }
          a{
            box-sizing: border-box;
            padding: .6rem .6rem .4rem;
            display: block;
            .title{
              font-size: .95rem;
              color: #333;
            }
            svg{
              float: left;
              margin-right: .5rem;
            }
            .r{
              float: right;
              .count{
                color: #bdbcbb;
                font-size: .75rem;
                &.passed{
                  color: #d74e48;
                  background-color: rgba(215,78,72,0.1);
                  font-weight: bold;
                  border-radius: 12px;
                  padding: .0625rem .375rem .0625rem;
                  margin-right: .2rem;
                }
              }
            }
            &.on{
              background-color: #e0eefa;
              .r{
                .count{
                  color: rgba(38,38,38,0.75);
                  &.passed{
                    color: #f7f7f7;
                    background-color: rgba(215,78,72,0.8);
                  }
                }
              }
            }
          }
        }
        .item-list{
          &.on{
            background-color: #e0eefa;
          }
        }
        .item-directory{
          .menu-your-sub{
            display: none;
            .item-list{
              a{
                padding-left: 1.6rem;
              }
            }
          }
          &.on{
            background-color: #F2F2F2;
            .menu-your-sub{
              display: block;
            }
          }
        }
      }

    }
    .createList{
      height: 2rem;
      border-top: 1px solid rgba(0,0,0,0.1);
      fill: #328ad6;
      a{
        color:#328ad6;
        display: flex;
        align-items: center;
        height: 3rem;
        font-size: .95rem;
        svg{
          padding: 0 .625rem;
        }
      }
    }
  }
}
@media only screen and (max-width: $md-max) {
  nav{
    width: 2.5rem;
  }
}


/*todolist*/
.todolist{
  float: left;
  width: calc(100% - 17.5rem);
  margin-right: 0;
  &.detailOn{
    margin-right: -23.125rem;
    .main{
      margin-right: 23.125rem;
    }
  }
  .main {
    margin-right: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .top {
      background-color: #668964;
      height: 2.875rem;
      h1 {
        line-height: 2.63rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        float: left;
        color: #fff;
        line-height: 2.875rem;
      }
      div.r {
        float: right;
      }
    }
    .addTask {
      padding: 1rem 0;
      position: relative;
      .addIcon{
        position: absolute;
        font-size: 1.6rem;
        left: 2.6%;
        top: 1.1rem;
        color: #fff;
      }
      input {
        border: none;
        color: #fff;
        width: 98%;
        margin-left: 1%;
        border-radius: .3rem;
        background-color: #719072;
        height: 3rem;
        padding: 0 3rem;
        font-size: 1rem;
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
      }
    }
    .listBox {
      height: 100vh;
      overflow: auto;
      padding-bottom: 4.5rem;
      margin-right: .5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      .list {
        padding: 0 0 1rem 0;
        position: relative;
        .finishedBtn {
          background-color: #719072;
          font-size: .6rem;
          border-radius: .1rem;
          padding: .1rem .2rem;
          color: #fff;
          margin-left: 2%;
          &:hover {
            text-decoration: none;
          }
          &.on{
            .showText{
              display: none;
            }
            .hideText{
              display: inline;
            }
          }
          .showText{
            display: inline;
          }
          .hideText{
            display: none;
          }
        }
        .item {
          background-color: #fff;
          width: 98%;
          margin-left: 1%;
          color: #333;
          box-sizing: border-box;
          border-radius: .3rem;
          height: 3rem;
          padding: 0 3rem;
          margin-bottom: .06rem;
          position: relative;
          cursor: pointer;
          display: inline-block;
          &.on {
            background-color: #E1F2FE;
          }
          &.passed{
            .r{
              .date{
                color: red;
              }
            }
          }
          .l {
            float: left;
            .isFinished {
              position: absolute;
              left: 1rem;
              top: .75rem;
              width: 1.2rem;
              height: 1.2rem;
            }
            h6 {
              min-height: 1.6rem;
              overflow: hidden;
              margin-top: .7rem;
              line-height: 1.6rem;
              font-size: .875rem;
            }
          }
          .r {
            float: right;
            .date {
              margin-top: .8rem;
              font-size: .875rem;
            }
          }
        }
        &.isFinishedBox {
          display: none;
          .item {
            opacity: .5;
            .l {
              h6 {
                //margin-top: .4rem;
                text-decoration: line-through;
                //min-height: 1rem;
                //line-height: 1rem;
              }
              .ago {

              }
            }
          }
          &.on{
            display: block;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $md-max) {
  .todolist{
    width: calc(100% - 2.5rem);
  }
}
@media only screen and (max-width: $md-max) {
  .todolist{
    margin-right: 0;
    .main{
      margin-right: 0;
    }
    &.detailOn{
      .main{
        margin-right: 0;
      }
    }
  }
}
@media only screen and (max-width: $xs-max) {}


//todolist detail
.detailBox{
  float: left;
  width: 23.125rem;
  height: 100vh;
  background-color: #fff;
  display: none;
  flex-direction: column;
  &.on{
    display: flex;
  }
  #taskInfoBox {
    display: flex;
    height: 100vh;
    flex-direction: column;
    .taskName {
      border-bottom: 1px solid #EBEBEB;
      height: auto;
      position: relative;
      .isFinished {
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 1.2rem;
        height: 1.2rem;
      }
      h2 {
        font-weight: bold;
        min-height: 1.5rem;
        overflow: hidden;
        padding: 1rem 3rem .9rem;
        line-height: 1.5rem;
      }
    }
    .taskInfos {
      background-color: #fafafa;
      flex: 1;
      padding-top: .5rem;
      li {
        padding: .5rem;
        &.passed{
          label, .date{
            color: red;
          }
        }
        label {
          margin-right: .5rem;
          color: #999;
          position: relative;
          top: 1px;
        }
        .date, .txt {
          height: 1.5rem;
          padding: .1rem 0;
          width: 80%;
          border: none;
          background-color: #fafafa;
          color: #999;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .bottom {
      padding: 1rem;
      border-top: 1px solid #EBEBEB;
      .backBtn {
        float: left;
      }
      .delBtn {
        float: right;
      }
    }
  }
}
@media only screen and (max-width: $md-max) and (min-width: $xs-max) {
  .detailBox{
    float: none;
    position: fixed;
    right: 0;
    top: 0;
  }
}
@media only screen and (max-width: $xs-max) {
  .detailBox{
    float: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
}

#drag-task{
  border:1px solid green;
  box-shadow: .1rem .1rem rgba(0,0,0,.2);
  width: 16rem;
  box-sizing: border-box;
  border-radius: .3rem;
  height: 3rem;
  padding: 0 3rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  .l {
    float: left;
    .isFinished {
      position: absolute;
      left: 1rem;
      top: .75rem;
      width: 1.2rem;
      height: 1.2rem;
    }
    h6 {
      min-height: 1.6rem;
      overflow: hidden;
      margin-top: .7rem;
      line-height: 1.6rem;
      font-size: .875rem;
      color: #333;
    }
  }
  .r {
    float: right;
    .date {
      margin-top: .8rem;
      font-size: .875rem;
    }
  }
}
.context-menu{
  position: absolute;
  z-index: 10000;
  background: #fff;
  list-style: none;
  padding: 6px 0;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px;
  .context-menu-item{
    padding: 4px;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .context-menu-icon{
      margin: 0 4px;
      height: 20px;
      width: 20px;
    }
    .label{
      padding: 0 4px;
      height: 20px;
      line-height: 20px;
      color: #262626;
      display: block;
      max-width: 220px;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -o-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
    .chevron{
      height: 20px;
      width: 20px;
      display: none;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    svg{
      fill: #737272;
      &.move{
        stroke: #737272;
      }
    }
    &.hasSubmenu{
      .chevron{
        display: initial;
      }
    }
  }
}

/************
 * 打印样式
 ************/

@media print{
    *,
    *:before,
    *:after{
        background: transparent!important;
        color: #000000!important;
        box-shadow: none!important;
        text-shadow: none!important;
    }

    a,
    a:visited{
        text-decoration: underline;
    }
    a[href]:after{
        content:"("attr(href)")";
    }
    abbr[title]:after{
        content:"("attr(title)")";
    }

    /*使用#和javascript的超链接不打印href*/
    a[href^="#"]:after,
    a[href^="javascript:"]:after{
        content:"";
    }
    pre,
    blockquote{
        border:1px solid #999999;
        page-break-inside: avoid;/*opera*/
    }
    thead{
        display: table-header-group;
    }
    tr,img{
        page-break-inside: avoid;
    }
    img{
        min-width: 100%!important;
    }
    p,
    h2,
    h3{
        orphans: 3;/*分页底部保留最少行数*/
        widows: 3;/*分页顶部保留最少行数*/
    }
    h2,
    h3{
        page-break-after: avoid;
    }


}

/*# sourceMappingURL=main.css.map */
